.row-fluid
  .flash-notice
    - if flash.any?
      - content_for :javascript do
        :javascript
          $(document).ready(function() {
            var messages = {};
            #{
              javascript_code = ""
              flash.each do |k, v| 
                javascript_code << "messages['#{k}'] = #{v}; \n" 
              end
              
              javascript_code
            }

            for (var key in messages){
              noty({
                    text: messages[key].join('<br />'),
                    type: key,
                    dismissQueue: true,
                    layout: 'top',
                    theme: 'defaultTheme',
                    timeout: true,
                    animation: {
                                  open: {height: 'toggle'},
                                  close: {height: 'toggle'},
                                  easing: 'swing',
                                  speed: 1000 
                                } 
                  });
            }
          });