%footer
  %p © App 2012

!= js  :main
!= yield_content :javascript

- if production?
  // Analytics
  :javascript
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-22030550-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ga);
    })();
