%head
  %meta{:charset => "utf-8"}
  %title= "App"
  %meta{:name => "viewport",    :content=>"width=device-width, initial-scale=1.0"}
  %meta{:name=> "description",  :content=>""}
  %meta{:name=> "author",       :content=>""}
  
  != css :main, :media => 'screen'
  != yield_content :css

  %link{:rel=> "shortcut icon", :href=> ""}
  %link{:rel=> "apple-touch-icon-precomposed", :sizes => "144x144", :href=> ""}
  %link{:rel=> "apple-touch-icon-precomposed", :sizes => "114x114", :href=> ""}
  %link{:rel=> "apple-touch-icon-precomposed", :sizes => "72x72", :href=> ""}
  %link{:rel=> "apple-touch-icon-precomposed", :href => ""}