.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container-fluid
      %a.btn.btn-navbar{"data-toggle".to_sym => "collapse", "data-target" => ".nav-collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand.logo{:href=>"/"}app
      .nav-collapse.collapse
        %ul.nav
          %li.divider-vertical
          %li
            %a{:href=>""}
              %i.icon-home.icon-white 
              Home
          != menu_item("Watch", "/ebay/watch", {:icon => false})
          != menu_item("Won", "/ebay/won", {:icon => false})
          != menu_item("Best offers", "/ebay/best-offers", {:icon => false})
          %li.dropdown
            %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
              More
              %b.caret
            %ul.dropdown-menu
              != menu_item("Bid", "/ebay/bid", {:icon => false})
              != menu_item("Lost", "/ebay/lost", {:icon => false})
          %li.dropdown
            %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
              Debug
              %b.caret
            %ul.dropdown-menu
              != menu_item("Clear session", "/debug/clear-session", {:icon => false})
              != menu_item("Test page", "/debug/test", {:icon => false})
              != menu_item("Session variables", "/debug/show-sessions-variables", {:icon => false})


        %ul.nav.nav-static.pull-right
          - if current_user
            - if current_user.has_ebay_accounts?
              != yield_content :ebay_accounts
            %li.dropdown
              %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
                %i.icon-user.icon-white
                #{current_user.user_name}
                %b.caret
              %ul.dropdown-menu
                %li
                  %a{:href=>"#"}
                    %i.icon-cog 
                    Preferences
                %li.divider
                %li
                  %a{:href=>"/logout"}
                    %i.icon-off 
                    Logout
          - else 
            %li
              %a.sign_up{:href => "/signup"}
                Sign up
            %li
              %a.login{:href => "/login"}
                Login
  