!!!5
%html.no-js{lang: "en"}
  != haml :"shared/_head"
  %body{':data-spy'=>"scroll", ':data-target'=>".subnav", ':data-offset'=>"50"}
    != haml :"shared/_header"
    .container-fluid
      != haml :"shared/_flash"
      != yield
      %hr
      != haml :"shared/_footer"


