%h1 Forgot Password

%p Just provide us with the email address on your account and we will send you an email with a link to reset your password.

%form.form-stacked{:action => "/forgot_password", :method => "POST"}
  %label{:for => "email" } Email:
  %input{:type => "text", :name => "email", :id => "email"}
  
  %input{:type => "submit", :value => "Send"}
