.row
  .span4.offset4.well
    %legend Sign in
    %form{action: "/login", method: "post"}
      - if @return_url
        %input{type: :hidden, name: :return_url , value: @return_url}
      
      %input.span4{id: :email, name: :email, type: :email, placeholder: 'Email'}
      %input.span4{id: :password, name: :password, type: :password, placeholder: 'Password'}
      %label.checkbox
        %small.muted
          %input{:type=>"checkbox", :name=>"remember", :value=>"1"} Remember Me
      %button.btn.btn-info.btn-block{type: :submit}Sign in
      %small
        %a.muted{href: "/forgot_password"}Forgot password?