%p
  Please enter a new username
%form{:method => :post, :action=>"/reset-email"}
  %label Username
  %input{:type=>:email, :id => :email, :name => :email}
  %input{:type=>:submit, :value => :Update, :class => "button"}
