.row
  .span4.offset4.well
    %legend Create your account

    %form{:action => "/signup", :method => "POST"}
      - if @return_url
        %input{:type => "hidden", :name => :return_url , :value => @return_url}
      %input.span4{:id => :email, :name => :email, :type => "email", :placeholder => 'Email Address'}
      %input.span4{:type => "password", :name => "password", :placeholder => "Password"}
      %button.btn.btn-primary.btn-block{:type => "submit", :name => "submit"}Create Account



- content_for :javascript do
  :javascript
    $(document).ready(function(){$("#email").focus()});
