%h2 Connect with eBay
%hr
.alert.alert-warning Authorize with your eBay account to allow app.com to index your data.

%center
  %button.btn-large.btn-info{id: "add-account"}
    Connect with eBay 
    %i.icon-arrow-right.icon-white

- content_for :javascript do
  :javascript
    $(document).ready(function() { 
        $(document).on("click", "#add-account", function(){
          sourceWidth = $(this).outerWidth();
          $(this).css('width', sourceWidth);
          $(this).prop('disabled',true);
          $(this).html('Wait...');
          $.ajax({
            type: "GET",
            url: "/ebay/add-new-ebay-account-url",
            success: function(data){
              window.location = data;
            }
        });
      });
    });