.row-fluid
  %center
    %h1 Welcome to app.com!
    %hr
    - if development?
      .alert.alert-warning
        %b Development:
        %a{href: "/activate/#{current_user.perishable_token}"}Activate Account for #{current_user.user_name}
    


