- content_for :ebay_accounts do
  %li.dropdown
    %a.dropdown-toggle{:href=>"#", "data-toggle"=>"dropdown"}
      %i.icon-th-list
      Accounts
      %b.caret
    %ul.dropdown-menu
      %form.form-inline{action: "/ebay/won111", method: :post, name: "search-form111", id: "search-form111", style: "margin: 0"}
        - @ebay_accounts.each do |account|
          %li
            %label.checkbox
              %input{type: :checkbox, value: account.id, name: "account[]", checked: @checked_ebay_account_ids.include?(account.id)}="#{account.user_name}"
        %button.btn.btn-info{type: :submit, name: :button_name}
          Apply

%button.btn.btn-success{type: :submit, name: "button_name", value: "add_notes", id: "add_notes", disabled: true}Add notes

%button.btn.btn-success{type: :submit, name: "button_name", value: "add_feeback", id: "add_feeback", disabled: true}Add feedback

%button.btn.btn-danger{type: :submit, name: "button_name", value: "delete", id: "delete", disabled: true}Delete

%button.btn.btn-danger{type: :submit, name: "button_name", value: "archieve", id: "archieve", disabled: true}Archieve

%br
%br

%form.form-inline{action: "/ebay/won", method: :post, name: "search-form", id: "search-form"}
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Categories
      %span.caret
    %ul.dropdown-menu#dropdown-menu-categories
      - if @categories.any?
        - @categories.each do |category|
          %li
            %label.checkbox{title: category[:full_name]}
              %input{type: :checkbox, value: category[:site_id], title: category[:full_name], name: "category[]", checked: @checked_category_ids.include?(category[:site_id])}="#{category[:name]}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-categories-chk", checked: @checked_category_ids.any?}Check / Uncheck all
      - else
        %li
          %label
            No categories
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" =>  :dropdown, :href=>"#"}
      Conditions
      %span.caret
    %ul.dropdown-menu#dropdown-menu-conditions
      - if @conditions.any?
        - @conditions.each do |condition|
          %li
            %label.checkbox{title: condition[:full_name]}
              %input{type: :checkbox, value: condition[:site_id], title: condition[:full_name], name: "condition[]", checked: @checked_condition_ids.include?(condition[:site_id])}="#{condition[:name]}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-conditions-chk", checked: @checked_condition_ids.any?}Check / Uncheck all
      - else
        %li
          %label
            No conditions

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Listing type
      %span.caret
    %ul.dropdown-menu#dropdown-menu-listing-types
      - if @listing_types.any?
        - @listing_types.each do |listing_type|
          %li
            %label.checkbox{title: listing_type}
              %input{type: :checkbox, value: listing_type, title: listing_type, name: "listing_type[]", checked: @checked_listing_type_ids.include?(listing_type)}="#{listing_type}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-listing-types-chk", checked: @checked_listing_type_ids.any?}Check / Uncheck all
      - else
        %li
          %label
            No listing types

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Payment
      %span.caret
    %ul.dropdown-menu#dropdown-menu-payment-types
      - if @payment_types.any?
        - @payment_types.each do |payment_type|
          %li
            %label.checkbox{title: payment_type[:value]}
              %input{type: :checkbox, value: payment_type[:id], title: payment_type[:value], name: "payment_type[]", checked: @checked_payment_type_ids.include?(payment_type[:id])}="#{payment_type[:value]}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-payment-types-chk", checked: @checked_payment_type_ids.any?}Check / Uncheck all
      - else
        %li
          %label
            No payment types

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Shipment
      %span.caret
    %ul.dropdown-menu#dropdown-menu-shipment-types
      - if @shipment_types.any?
        - @shipment_types.each do |shipment_type|
          %li
            %label.checkbox{title: shipment_type[:value]}
              %input{type: :checkbox, value: shipment_type[:id], title: shipment_type[:value], name: "shipment_type[]", checked: @checked_shipment_type_ids.include?(shipment_type[:id])}="#{shipment_type[:value]}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-shipment-types-chk", checked: @checked_shipment_type_ids.any?}Check / Uncheck all
      - else
        %li
          %label
            No shipment types

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Accounts
      %span.caret
    %ul.dropdown-menu#dropdown-menu-accounts
      - if @ebay_accounts.any?
        - @ebay_accounts.each do |account|
          %li
            %label.checkbox
              %input{type: :checkbox, value: account.id, name: "account[]", checked: @checked_ebay_account_ids.include?(account.id)}="#{account.user_name}"
      %li.divider
      %li
        %a{id: "add-account", tabindex: "-1", href: "#"}Add New

  .input-prepend.input-append
    %span.add-on
      $
    %input.span1#appendedPrependedInput{type: :text, name: "min_price", value: @min_price, placeholder: "min price"}
  .input-prepend.input-append
    %span.add-on
      $
    %input.span1#appendedPrependedInput{type: :text,  name: "max_price",  value: @max_price,placeholder: "max price"}

  .input-prepend
    %span.add-on
      %i.icon-calendar
    %input{type: "text", name: "date_range", id: "date-range-picker"}
  
  %input.input-xlarge.search-query{name: "q", type: :text, placeholder: "Search", value: @search_q}

  %button.btn.btn-info{type: :submit, name: :button_name, value: "apply_filters", id: "apply_filters"}Filter
  %button.btn.btn-inverse{type: :submit, name: :button_name, value: "remove_filters", id: "remove_filters"}Remove filters
  %input{type: :hidden, name: :current_page_index, value: @current_page_index}

- if @list_items.any?
  %table.table.table-hover.table-condensed
    %thead
      %th.span1
        %input{type: :checkbox, id: "table-check-all-chk", title: "Check / Uncheck all"}
      %th.span2
        Picture
      %th.span4
        Title
      %th.span1
        %a{href: "#"}
          Price
      %th.span1
        %a{href: "#"}
          Date &#9660;
      %th.span2
        Ebay ID
    %tbody
      - @list_items.each do |won_ebay_item|
        %tr
          %td
            %input{type: "checkbox"} 
            %a{href: "#"}
              %i.icon-star-empty
          %td
            %img{src: "#{won_ebay_item.ebay_item.gallery_url}"}
          %td
            %p
              %a{:href=>"#{won_ebay_item.ebay_item.view_item_url}"}="#{won_ebay_item.ebay_item.title}"
              %br 
              %a.muted{:href=>"http://myworld.ebay.com/#{won_ebay_item.ebay_item.seller_user_id}"} 
                %small="#{won_ebay_item.ebay_item.seller_user_id} (#{won_ebay_item.ebay_item.seller_feedback_score}) #{won_ebay_item.ebay_item.seller_feedback_percent}%"
              %br
              %small.muted 
                - if won_ebay_item.shipped_time
                  Shipped: #{won_ebay_item.shipped_time.ago_in_words}
              - unless won_ebay_item.private_notes.empty?
                %small 
                  .alert
                    #{won_ebay_item.private_notes}
              - unless won_ebay_item.ebay_notes.empty?
                %small 
                  .alert.alert-error
                    %small #{won_ebay_item.ebay_notes}

          %td
            / TODO - refactoring, to make a helper method
            - paid_for_label_class = won_ebay_item.payment_status == "Paid" ? "label-success" : won_ebay_item.payment_status == "Pending" ? "label-warning" : won_ebay_item.payment_status == "Unpaid" ? "label-important" : won_ebay_item.payment_status == "Refunded" ? "label-info" : "label-inverse"
            %span.label{class: paid_for_label_class}="$#{won_ebay_item.ebay_item.current_price}"
            %br
            %small.muted="#{won_ebay_item.ebay_item.shipping_service_display_cost}"
          %td
            = won_ebay_item.created_date.pretty
          %td 
            - item_id_label_class = won_ebay_item.deleted_from_won_list ? "label-important" : ""
            %span.label{class: item_id_label_class}="#{won_ebay_item.ebay_item.item_id}"
  .row
    .span12{"style" =>"text-align:center"}
      %button.btn.btn-success.btn-large{type: :submit, name: :button_name, value: "next_page", id: "next_page", disabled: !@next_page_exists}
        More items
        %i{class: "icon-repeat icon-white"}
          
- else 
  .alert.alert-warning You have no won items.