%h2 Authentication was successful
%hr
.alert.alert-warning #{messages}

%center
  %button.btn-large.btn-info{:onclick => "location.href=\"/ebay/won\""}
    Go to won list 
    %i.icon-arrow-right.icon-white
