#watch-list-container
  %button.btn.btn-success{type: :submit, name: "button_name", value: "add_notes", id: "add_notes", disabled: true}Add notes

  %button.btn.btn-success{type: :submit, name: "button_name", value: "add_feeback", id: "add_feeback", disabled: true}Add feedback

  %button.btn.btn-danger{type: :submit, name: "button_name", value: "delete", id: "delete", disabled: true}Delete

  %button.btn.btn-danger{type: :submit, name: "button_name", value: "archieve", id: "archieve", disabled: true}Archieve

  %br
  %br

  %form.form-inline{action: "/ebay/watch", method: "post", name: "search-form", id: "search-form"}
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle"=>"dropdown", href: "#"}
        Categories
        %span.caret
      %ul.dropdown-menu#dropdown-menu-categories
        - if ebay_categories.any?
          - ebay_categories.each do |category|
            %li
              %label.checkbox{title: category[:full_name]}
                %input{type: :checkbox, value: category[:site_id], title: category[:full_name], name: "category[]", checked: checked_category_ids.include?(category[:site_id])}="#{category[:name]}"
          %li.divider
          %li
            %input{type: :checkbox, id: "dropdown-menu-categories-chk", checked: checked_category_ids.any?}Check / Uncheck all
        - else
          %li
            %label
              No categories
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle"=>"dropdown", :href=>"#"}
        Conditions
        %span.caret
      %ul.dropdown-menu#dropdown-menu-conditions
        - if ebay_conditions.any?
          - ebay_conditions.each do |condition|
            %li
              %label.checkbox{title: condition[:full_name]}
                %input{type: :checkbox, value: condition[:site_id], title: condition[:full_name], name: "condition[]", checked: checked_condition_ids.include?(condition[:site_id])}="#{condition[:name]}"
          %li.divider
          %li
            %input{type: :checkbox, id: "dropdown-menu-conditions-chk", checked: checked_condition_ids.any?}Check / Uncheck all
        - else
          %li
            %label
              No conditions
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle"=>"dropdown", href: "#"}
        Price
        %span.caret
      %ul.dropdown-menu#dropdown-menu-price
        %li
          %label.checkbox
            %input{type: :checkbox, value: "", name: "price-high", checked: false}High
        %li
          %label.checkbox
            %input{type: :checkbox, value: "", name: "price-low", checked: false}Low
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle"=>"dropdown", href: "#"}
        Listing type
        %span.caret
      %ul.dropdown-menu#dropdown-menu-listing-types
        - if ebay_listing_types.any?
          - ebay_listing_types.each do |listing_type|
            %li
              %label.checkbox{title: listing_type}
                %input{type: :checkbox, value: listing_type, title: listing_type, name: "listing_types[]", checked: false}="#{listing_type}"
          %li.divider
          %li
            %input{type: :checkbox, id: "dropdown-menu-listing-types-chk", checked: false}Check / Uncheck all
        - else
          %li
            %label
              No listing types
    .btn-group
      %a.btn.dropdown-toggle{"data-toggle"=>"dropdown", href: "#"}
        Accounts
        %span.caret
      %ul.dropdown-menu#dropdown-menu-accounts
        - if ebay_accounts.any?
          - ebay_accounts.each do |account|
            %li
              %label.checkbox
                %input{type: :checkbox, value: account.id, name: "account[]", checked: checked_ebay_account_ids.include?(account.id)}="#{account.user_name}"
        %li.divider
        %li
          %a{id: "add-account", tabindex: "-1", href: "#"}Add New

    .input-prepend
      %span.add-on
        %i.icon-calendar
      %input{type: "text", name: "date_range", id: "date-range-picker"}
    
    %input.input-xlarge.search-query{name: "q", type: :text, placeholder: "Search", value: locals.has_key?(:search_q) ? search_q : nil}

    %button.btn.btn-info{type: :submit, name: "button_name", value: "apply_filters", id: "apply_filters"}Filter
    
    %button.btn.btn-inverse{type: :submit, name: "button_name", value: "remove_filters", id: "remove_filters"}Remove filters
    
  - if won_ebay_items.any?
    %table.table.table-hover.table-condensed
      %thead
        %th.span1
          %input{type: "checkbox", id: "table-check-all-chk", title: "Check / Uncheck all"}
        %th.span2
        %th.span5
        %th.span1
        %th.span2
      %tbody
        - won_ebay_items.each do |won_ebay_item|
          %tr
            %td
              %input{type: "checkbox"} 
              %a{href: "#"}
                %i.icon-star-empty
            %td
              %img{:src=> "#{won_ebay_item.ebay_item.gallery_url}"}
            %td
              %p
                %a{:href=>"#{won_ebay_item.ebay_item.view_item_url}"}="#{won_ebay_item.ebay_item.title}"
                %br 
                %a.muted{:href=>"http://myworld.ebay.com/#{won_ebay_item.ebay_item.seller_user_id}"} 
                  %small="#{won_ebay_item.ebay_item.seller_user_id} (#{won_ebay_item.ebay_item.seller_feedback_score}) #{won_ebay_item.ebay_item.seller_feedback_percent}%"
                %br
                %small.muted 
                - unless won_ebay_item.private_notes.empty?
                  %small 
                    .alert
                      #{won_ebay_item.private_notes}
                - unless won_ebay_item.ebay_notes.empty?
                  %small 
                    .alert.alert-error
                      %small #{won_ebay_item.ebay_notes}

            %td
              %span.label{:class => "some_class"}="$#{won_ebay_item.ebay_item.current_price}"
              %br
              %small.muted="#{won_ebay_item.ebay_item.shipping_service_display_cost}"
            %td 
              %span.label="#{won_ebay_item.ebay_item.item_id}"

  - else 
    .alert.alert-warning You have no won items.