- content_for :ebay_accounts do
  %li.dropdown
    %a.dropdown-toggle{href: "#", "data-toggle" => "dropdown"}
      %i.icon-th-list
      Accounts
      %b.caret
    %ul.dropdown-menu
      %form.form-inline{id: "selected_ebay_accounts_form", method: :post, style: "margin: 0"}
        - current_user.ebay_accounts.each do |account|
          %li
            %input{type: :checkbox, value: account.id, name: "ebay_account[]", checked: current_user.selected_ebay_accounts.include?(account)}
            %label.checkbox="#{account.user_name}"

        %button.btn.btn-info{type: :button, name: :button_name, id: "btn_selected_ebay_accounts"}
          Apply
        %li.divider
          %li
            %a{id: "add_ebay_account", tabindex: "-1", href: "#"}Add New
            
%button.btn.btn-success{type: :submit, name: :button_name, value: "add_notes", id: "add_notes", disabled: true}Add notes

%button.btn.btn-success{type: :submit, name: :button_name, value: "add_feeback", id: "add_feeback", disabled: true}Add feedback

%button.btn.btn-danger{type: :submit, name: :button_name, value: "delete", id: "delete", disabled: true}Delete

%button.btn.btn-danger{type: :submit, name: :button_name, value: "archieve", id: "archieve", disabled: true}Archieve

%br
%br

%form.form-inline{action: "/ebay/won", method: :post, name: "search-form", id: "search-form"}
  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Categories
      %span.caret
    %ul.dropdown-menu#dropdown-menu-category

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" =>  :dropdown, :href=>"#"}
      Conditions
      %span.caret
    %ul.dropdown-menu#dropdown-menu-condition

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Listings
      %span.caret
    %ul.dropdown-menu#dropdown-menu-listing_type

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Payment
      %span.caret
    %ul.dropdown-menu#dropdown-menu-payment-types
      - if @payment_status_list.any?
        - @payment_status_list.each do |payment_type|
          %li
            %input{type: :checkbox, value: payment_type[:id], title: payment_type[:value], name: "payment_type[]"}
            %label.checkbox{title: payment_type[:value]}="#{payment_type[:value]}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-payment-types-chk"}Check / Uncheck all
      - else
        %li
          %label
            No payment types

  .btn-group
    %a.btn.dropdown-toggle{"data-toggle" => :dropdown, href: "#"}
      Shipment
      %span.caret
    %ul.dropdown-menu#dropdown-menu-shipment-types
      - if @shipment_status_list.any?
        - @shipment_status_list.each do |shipment_type|
          %li
            %input{type: :checkbox, value: shipment_type[:id], title: shipment_type[:value], name: "shipment_type[]"}
            %label.checkbox{title: shipment_type[:value]}="#{shipment_type[:value]}"
        %li.divider
        %li
          %input{type: :checkbox, id: "dropdown-menu-shipment-types-chk"}Check / Uncheck all
      - else
        %li
          %label
            No shipment types

  .input-prepend.input-append
    %span.add-on
      $
    %input.span1#appendedPrependedInput{type: :text, name: "min_price", placeholder: "min price"}
  .input-prepend.input-append
    %span.add-on
      $
    %input.span1#appendedPrependedInput{type: :text,  name: "max_price", placeholder: "max price"}

  .input-prepend
    %span.add-on
      %i.icon-calendar
    %input{type: "text", name: "date_range", id: "date-range-picker", style: "width: 140px;"}
  
  %input.input-large.search-query{name: "q", type: :text, placeholder: "Search"}
  %button.btn.btn-info{type: :submit, name: :button_name, value: "apply_filters", id: "apply_filters"}Filter

%button.btn.btn-inverse{type: :submit, name: :button_name, value: "remove_filters", id: "remove_filters"}Reset
%input{type: :hidden, name: :current_page_index, value: @current_page_index}

#data-table-container{style: "display: none"}
  %table.table.table-hover.table-condensed#data-table
    %thead
      %th.span1
        %input{type: :checkbox, id: "table-check-all-chk", title: "Check / Uncheck all"}
      %th.span2
        Picture
      %th.span4
        Title
      %th.span1
        %a{href: "#"}
          Price
      %th.span1
        %a{href: "#"}
          Date &#9660;
      %th.span2
        Ebay ID
    %tbody#data-table-tbody
  .row
    .span12{style: "text-align:center"}
      %button.btn.btn-success.btn-large{type: :submit, name: :button_name, id: :next_page}
        More items
        %i.icon-repeat.icon-white

#data-table-no-data-container{style: "display: none"}
  .alert.alert-warning
    There are no items.

#ajaxModal.modal.hide.fade{"tabindex"=> "-1", role: "dialog", "aria-labelledby"=>"myModalLabel", "aria-hidden"=> true, style: "margin: -130 0 0 -330px;"}
  .modal-body
    %p{style: "text-align:center"}
      %b
        Sending an ajax request...
      %img{src: "/images/ajax-loader.gif"}
